*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #28292c;
    color: #fff;
    width: 20vw;
    height: 100vh;
}

#logo{
    width: 20vw;
    height: 25vh;
}

ul{
    margin: 5vh 0;
    padding: 0;
}

li{
    list-style: none;
    padding: 0 6vh;
    margin:0 1vh;
}

h6{
    font-size: x-large;
}
.menu{
    padding: 1vh;
    margin:0 1vh;
}
.menu:hover{
    padding: 1vh;
    cursor: pointer;
    background-color: #6f7074;
}
img{
    padding: 0 3vh 0 0;
}

.content {
    width: 80vw;
    padding: 2vw;
    justify-content: center;
    background-color: #2b2d30;
    color: white;
}

.navbar{
    justify-content: space-evenly;
    background-color: #28292c;
    padding: 0;
}
.navbar button{
    background-color: #28292c;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1vh 2vh;
}

.navbar button:hover{
    background-color: white;
    color: #28292c;
}

.card{
    background-color: #a0b6b7;
    color: rgb(255, 255, 255);
    padding: 2vh;
    margin: 2vh;
    border-radius: 10px;
}