$Dark: #28292C; //BackGroundColor
$primary: #DBE7F5; //buttons color
$font: white;
$secondary: #7b797b;//for the white stuff in the design.


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
  font-family: "Roboto", sans-serif;
  background-color: $Dark;
  color: white;
}


.logo{
  margin-top: -30px;
  width: 120px;
  border-radius: 50px;
}

.main{
}




.custom-height {
  height: 200px;
}

.custom-height-short {
  height: 150px;
}

.custom-height-tall {
  height: 300px;
}


// [class*="col"]{
//   padding: 1rem;
//   background-color: lightblue;
//   border: 2px solid white;
//   color: white;
// }




.circle{
  background-color: $secondary;
  padding: 20px;
  width: 300px;
  height: 180px;
  border-radius: 50%;
  border-width: 10px;
  border-color: red;
}

.circle p{
  font-size: 14px;
}



.featuresimg{
  width: 400px;
}

@media screen and (max-width: 480px){
  .featuresimg{
    width: 250px;
  }  
}




// for footer

.nav-item{
  color: red;
}