$Dark: #28292C; //BackGroundColor
$primary: #DBE7F5; //buttons color
$font: white;
$secondary: #7b797b;//for the white stuff in the design.


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
  font-family: "Roboto", sans-serif;
  background-color: $Dark;
  color: white;
}


.logo{
  width: 100px;
  border-radius: 50px;
}

.main{
}


