*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #28292c;
    color: #fff;
    width: 20%;
    min-height: 100%;
}

#logo{
    width: 20vw;
    height: 25vh;
}

ul{
    margin: 5vh 0;
    padding: 0;
}

li{
    list-style: none;
    padding: 0 6vh;
    margin:0 1vh;
}

h6{
    font-size: x-large;
}
.menu{
    padding: 1vh;
    margin:0 1vh;
}
.menu:hover{
    padding: 1vh;
    cursor: pointer;
    background-color: #6f7074;
}
img{
    padding: 0 3vh 0 0;
}

.main-con,
.content {
    width: 80%;
    min-width: fit-content;
    min-height: 91vh;
    padding:0;
    justify-content: center;
    background-color: #33363a;
    color: white;
}
.content{
    width: 100%;
    padding: 4vh;
}
header{
    display: flex;
    justify-content:end;
    padding: 2vh 5vh;
    background-color: #28292c;
}

.navbar{
    justify-content: space-evenly;
    background-color: #28292c;
    padding: 0;
}
.navbar button{
    background-color: #28292c;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1vh 2vh;
}

.navbar button:hover{
    background-color: white;
    color: #28292c;
}

.card{
    background-color: #a0b6b7;
    color: rgb(255, 255, 255);
    padding: 2vh;
    margin: 2vh;
    border-radius: 10px;
}
th,td{
    color: white;
    max-width: 5vw;
    max-height: 5vw;
    overflow: auto;
}
/* width */
td::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
td::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
td::-webkit-scrollbar-thumb {
    background: #94abaa;
    border-radius: 10px;
}
.taskAll{
    padding: 3vh;
    border: 0.1vw solid white;
    margin:2vw 0;
}

#addTask,#displayTask{
    width: 50%;
}

canvas{
    background-color: white;
}